# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.MultiplayerFinchMagicBattleArena.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\ProjectUnity\MultiplayerFinchMagicBattleArena\.idea\.idea.MultiplayerFinchMagicBattleArena\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
